@{
    ViewBag.Title = "Nos Actions";
}


<div class="action_liste" style="line-height:50px;color:white;font-size:16px;">
    <p>
        <h1 style="text-align:center;">10 Axes de coopération :</h1><br />
        <ul>
           <!--1-->
            <li>
                <img src="~/Images/Actions/Chiffres/1.jpg" alt="1" style="position:relative;float:left;"/>  Aide à la gestion de l’informatisation des établissements. Études, conception, réalisation et suivi des architectures informatiques par un informaticien recruté par le GEPY. <br /><br />
            </li>

            <!--2-->
            <li>
                <img src="~/Images/Actions/Chiffres/2.jpg" style="position:relative;float:left" alt="Alternate Text" />  Soutien à la qualité hôtelière. Étude, conception, réalisation et suivi des protocoles « cuisine » et « buanderie » par une technicienne hôtelière recrutée par le GEPY.<br /><br />
            </li>

            <!--3-->
            <li>
                <img src="~/Images/Actions/Chiffres/3.jpg" style="position:relative;float:left" alt="Alternate Text" />  Assistance à la réalisation des marchés publics. Conception des documents de consultation réglementaires, mise en œuvre de la publication et analyse des offres par une technicienne administrative recrutée par le GEPY.  <br /><br />
            </li>

            <!--4-->
            <li>
              <img src="~/Images/Actions/Chiffres/4.jpg" style="position:relative;float:left" alt="Alternate Text" />  Mutualisation des plans de formation. Mise en concurrence des prestataires, organisation du calendrier, programmation des sessions et suivi des évaluations par une technicienne administrative recrutée par le GEPY.<br /><br />
            </li>

            <!--5-->
            <li>
                <img src="~/Images/Actions/Chiffres/5.jpg" style="position:relative;float:left" alt="Alternate Text" />  Mise en place d’un suivi bucco-dentaire pour l’ensemble des résidents des établissements adhérents. Convention avec un dentiste.  <br /><br />
            </li>

            <!--6-->
            <li>
                <img src="~/Images/Actions/Chiffres/6.jpg" style="position:relative;float:left" alt="Alternate Text" />  Mise en place de formations et informations internes aux adhérents. Journées métiers coordonnées et animées par les ressources internes du GEPY.  <br /><br />
            </li>

            <!--7-->
            <li>
                <img src="~/Images/Actions/Chiffres/7.jpg" style="position:relative;float:left" alt="Alternate Text" />  Participation à la veille juridique et statutaire pour les établissements. <br /><br />
            </li>

            <!--8-->
            <li>
                <img src="~/Images/Actions/Chiffres/8.jpg" style="position:relative;float:left" alt="Alternate Text" />  Aide à la coordination des astreintes et gardes administratives dans les établissements. <br /><br />
            </li>

            <!--9-->
            <li>
                <img src="~/Images/Actions/Chiffres/9.jpg" style="position:relative;float:left" alt="Alternate Text" />  Participation aux Groupements Hospitaliers de Territoire pour la filière gériatrique. <br /><br />
            </li>

            <!--10-->
            <li>
                <img src="~/Images/Actions/Chiffres/10.jpg" style="position:relative;float:left" alt="Alternate Text" />  Création d’un pôle de formations internes et externes propre au GEPY. Mise en œuvre des expertises pluridisciplinaires du GEPY. <br /><br />
            </li>
        </ul>
    </p>
</div>