
@{
    ViewBag.Title = "Nos Valeurs";
}

<div>
    <p>
        <h1>Des valeurs communes... </h1>
        <img src="~/Images/Valeurs/valeur1.jpg" alt="Alternate Text" style="margin-left:20%;" />

        <h1>...traduites en principes de fonctionnement</h1>
        <div style="line-height:50px;color:white;font-size:20px;margin-left:40px;">
            <ul>
                <li> Une solidarité des établissements et des acteurs   </li>

                <li> Une gouvernance pilotée par les adhérents   </li>

                <li> Un engagement constant au service du public   </li>

                <li> Des compétences synergiques pour la qualité   </li>

                <li> Une adaptation aux besoins des adhérents   </li>

                <li> Une contribution financière équitable   </li>

                <li> Une modulation des choix d’intégration   </li>

                <li> Une redistribution équilibrée et juste   </li>

                <li> Une approche pragmatique des besoins   </li>

                <li> Un suivi de l’efficience des actions menées   </li>
            </ul>
        </div>
    </p>
</div>
