body {
  background-color: #2a2c33;
  color: white;
  font-family: "roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 20px; }

.header-top-area {
  margin-top: -50px;
  background: none repeat scroll 0 0 #00c2a9; }

/*Gestion des vignettes*/
.service-area {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF; }
  .service-area:hover {
    background: #00c2a9;
    border: 1px solid #00c2a9; }

/*Background modifier pour la partie corps*/
.blog-detail-section {
  background-color: #3d4049; }

/*Menu*/
.wallstreet_title_head {
  font-family: "roboto";
  font-weight: 400;
  font-size: 30px;
  line-height: 50px; }

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 0px;
  z-index: 20; }

.navbar-brand {
  font-family: "roboto";
  font-weight: 300;
  font-size: 40px;
  height: auto;
  line-height: 40px;
  padding: 22.5px 15px 22.5px 0px;
  margin-right: 50px; }

.navbar-inverse .navbar-brand {
  color: #FFFFFF; }

.navbar > .container .navbar-brand {
  margin-left: 0px; }

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #FFFFFF; }

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #FFFFFF; }

.navbar .navbar-nav > li > a {
  line-height: 20px;
  padding: 40px 19px;
  border-radius: 0px 0px 0px 0px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px; }

/*Top Header Contact*/
.head-contact-info {
  display: block;
  float: right;
  margin: 10px 0;
  padding: 0; }
  .head-contact-info li {
    color: #FFFFFF;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    margin-right: 0px;
    padding: 0; }

/*Homepage Carrousel*/
.flex-slider-center {
  float: none;
  height: auto;
  left: 0;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 45%;
  width: 1140px;
  z-index: 0; }

.slide-text-bg1 {
  float: none;
  margin: 0 0 20px;
  padding: 0;
  position: relative;
  text-align: center;
  width: auto;
  z-index: 773; }
  .slide-text-bg1 h1 {
    font-weight: 300;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 65px;
    margin: 0 0 0;
    text-align: center;
    color: white; }

.static-banner {
  position: relative;
  overflow: hidden;
  max-height: 750px; }

/*Homepage Service Section*/
.service-section {
  padding: 70px 0 20px; }

.service-box {
  display: block;
  margin-bottom: -120px;
  position: relative;
  z-index: 0; }
  .service-box img {
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    margin: 0 auto 16px;
    width: 200px;
    height: 200px; }

.service-area {
  margin: 0 0 60px;
  padding: 127px 30px 30px;
  transition: background 0.3s ease-in-out 0s; }
  .service-area h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 11px;
    text-align: center; }

.blog-post-title {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 40px 30px 30px; }

.blog-post-title-wrapper h1 {
  margin: 0 0 20px;
  font-weight: 300;
  color: #00c2a9; }

/*Table Place Libre*/
.table > thead > tr > th,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td {
  padding: 12px; }

th {
  color: #2a2c33;
  background: #eeeeee;
  border-bottom: 4px solid #eeeeee;
  border-right: none;
  font-size: 15px;
  font-weight: 100;
  text-align: center;
  vertical-align: middle;
  font-weight: 500; }

tr:nth-child(odd) td {
  background: #2a2c33; }

td {
  background: #3d3f47;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  border-right: 1px solid #ff0000; }

/*Adherent Section*/
.actuSection {
  border-style: solid; }

/*FORMATION*/
.contentFormation {
  border-width: 1px;
  border-style: ridge;
  border-color: aquamarine;
  padding: 15px;
  color: white;
  line-height: 25px;
  text-align: justify; }

.modal {
  color: black; }
  .modal h4 {
    color: #00c2a9; }

.contentFormation-img1 {
  float: right;
  width: 300px;
  height: 300px;
  margin: 15px 0px 15px 15px; }

.contentFormation-img2 {
  float: left;
  width: 300px;
  height: 300px;
  margin: 15px 15px 15px 0px; }

.contentFormation-img3 {
  float: right;
  width: 300px;
  height: 300px;
  margin: 15px 0px 15px 15px; }

.contentFormation-img4 {
  float: left;
  width: 300px;
  height: 300px;
  margin: 15px 15px 15px 0px; }

/*Footer Section*/
.footer-copyright {
  padding: 20px 0; }
  .footer-copyright p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    text-align: center; }

/*# sourceMappingURL=default.css.map */



/*Places Libres*/
.fixed_headers {
    table-layout: fixed;
    border-collapse: collapse;
}

    .fixed_headers th {
        text-decoration: none;
    }

    .fixed_headers th, td {
        padding: 5px;
        text-align: center;
    }

        td:nth-child(1), th:nth-child(1) {
            width: 460px;
        }

        td:nth-child(2), th:nth-child(2) {
            width: 100px;
        }

        td:nth-child(3), th:nth-child(3) {
            width: 100px;
        }

        td:nth-child(4), th:nth-child(4) {
            width: 60px;
        }

        td:nth-child(5), th:nth-child(5) {
            width: 60px;
        }

        td:nth-child(6), th:nth-child(6) {
            width: 60px;
        }

        td:nth-child(7), th:nth-child(7) {
            width: 60px;
        }

        td:nth-child(8), th:nth-child(8) {
            width: 60px;
        }

        td:nth-child(9), th:nth-child(9) {
            width: 60px;
        }

        td:nth-child(10), th:nth-child(10) {
            width: 40px;
        }

        td:nth-child(10) {
            border-right: none;
        }


thead {
    background-color: #333;
    color: #FDFDFD;
}

    thead tr {
        display: block;
        position: relative;
    }

tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 400px;
}

    tbody tr:nth-child(even) {
        background-color: #DDD;
    }


    /*Tooltip Place Libres*/

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
}
    /* Tooltip styling */
    [data-tooltip]:before {
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background: #000;
        color: #fff;
        padding: 4px 8px;
        font-size: 14px;
        line-height: 1.4;
        min-width: 100px;
        text-align: center;
        border-radius: 4px;
    }
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before{
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after{
    left: 50%;
    margin-left: -6px;
}

[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}

/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}